@import "mocha.css";
/* @import "tokyonight.css"; */

* {
  font-family: "CaskaydiaCove Nerd Font Mono";
  font-size: 16px;
  font-weight: 800;
}

window#waybar {
  background-color: #000000;
  color: @bgcolor;
}

#clock,
#battery,
#cpu,
#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#window,
#memory,
#network,
#scratchpad,
#temperature,
#pulseaudio,
#backlight {
  padding: 3px 10px;
  border-radius: 5px;
  margin: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent {
  padding: 0 2px;
}

#workspaces button.focused {
  background: @wsactive;
  color: @basefont;
}
#workspaces button.active {
  background: @wsactive;
  color: #ffffff;
}

#workspaces button.urgent {
  background: @wsurgent;
}

#workspaces button.active:hover {
  background: @wshover;
  color: @basefont;
}

#workspaces button:hover {
  background: @wshover;
  color: @basefont;
}

#battery {
  color: @battery;
}

#battery.charging {
  color: @battery;
}

#battery.warning:not(.charging) {
  color: @batterywarning;
}
#backlight {
    color: @backlight;
}

#cpu {
    color: @cpu;
}

#temperature {
    color: @temp;
}

#network {
    color: @network;
}

#pulseaudio {
  color: @audio;
}

#clock {
  color: @clock;
}

.modules-left,
.modules-right,
.modules-center {
  padding: 5px 0px;
}
