* {
  background-color: #181824;
}
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 16px;
  font-weight: 800;
}

#workspaces {
  margin-left: 7px;
}

#workspaces button {
  all: initial;
  padding: 2px 6px;
  margin-top: 3px;
  margin-right: 3px;
  color: #313244;
}

#workspaces button.active {
  color: #f2cdcd;
    font-weight: 900;
}


#custom-dropbox,
#cpu,
#power-profiles-daemon,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock {
  min-width: 12px;
  margin-right: 13px;
  margin-top: 3px;
}

tooltip {
  padding: 2px;
}

tooltip label {
  padding: 2px;
}

#clock {
 color: #cba6f7;
}

#bluetooth {
    color: #89b4fa;
}

#network {
    color: #eba0ac;
}

#pulseaudio {
    color: #fab387;
}

#cpu {
    color: #f9e2af;
}

#battery {
    color: #a6e3a1;
}
